body {
  background-color: #0ac5f4;
}

.center {
  text-align: center;
}

.navbar .profile-image img {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.want-input {
  width: 500px;
  padding: 10px;
  font-size: 1.5em;
}

.want-form {
  display: inline-block;
  margin-left: 20px;
}

.no-border {
  border: none;
}