%h1= "#{@user.name}'s wants..."

%br
%br
%br

- if signed_in?
  %form{action: "/wants", method: "post"}
    %input{name: "want", type: "text", value: "Hit 'Enter' when finished", onFocus: "if(this.value==this.defaultValue) {this.value='';}", onBlur: "if(this.value=='') {this.value=this.defaultValue;}"}

%p
  - if @wants.empty?
    No wants found...
  - else
    %ol
      - @wants.each_with_index do |want, index|
        %li
          = want
          - if signed_in?
            %a{href: "/wants/#{index}"} Delete
