!!!
%html
  %head
    %title Five
    %link{rel: "stylesheet", href: "/stylesheets/style.css", type: "text/css"}       
    %link{rel: "stylesheet", href: "/stylesheets/bootstrap.css", type: "text/css"}       
  %body
    .navbar
      .navbar-inner
        .container
          %a.brand{href: "/"}
            The 5 things I want...
          
          %ul.nav.pull-right
            - if signed_in?
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %span.profile-image= image_tag current_user.profile_image_url
                  = current_user.screen_name
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{href: "/#{current_user.try(:screen_name)}"} My Wants
                    %a{href: "/session/logout"} Logout
            - else
              %li
                %a{href: "/session/login"} Login

    .container
      = yield

    %script{src: "javascripts/jquery-1.7.1.min.js", type: "text/javascript"}
    %script{src: "javascripts/bootstrap.min.js", type: "text/javascript"}